.colorized {
  color: var(--mainColor);
}

.head_width {
  width: 480px;
  margin: 80px auto 35px;
}

@media screen and (max-width: 768px) {
  .head_width {
    width: 75%;
    margin: 80px auto 35px;
  }
}
