.container {
  max-width: 900px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 50px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
}

label {
  width: 100%;
}

.cardInputElement {
  display: none;
}

.cardInput {
  margin: 10px;
  padding: 20px;
}

.cardInput:hover {
  cursor: pointer;
}

.cardInputElement:checked + .cardInput {
  box-shadow: 0 0 1px 1px var(--mainColor);
  border-radius: 10px;
  padding: 20px;
}

.box {
  background-image: url("../../../public/Images/pattern\ \(2\).svg");
  height: 100vh;
}

.btn {
  margin: 25px;
  position: relative;
  display: inline-block;
  width: 277px;
  height: 50px;
  font-size: 1em;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 17px;
  letter-spacing: 0.045em;
}

.btn svg {
  position: absolute;
  top: 0;
  left: 0;
}

.btn svg rect {
  /* //stroke: #EC0033; */
  stroke-width: 2;
  stroke-dasharray: 353, 0;
  stroke-dashoffset: 0;
  -webkit-transition: all 600ms ease;
  transition: all 600ms ease;
}

.btn span {
  background: -moz-linear-gradient(left, var(--mainColor) 0%, #5fe4c5 100%);
  background: -webkit-linear-gradient(left, var(--mainColor) 0%, #5fe4c5 100%);
  background: linear-gradient(to right, var(--mainColor) 0%, #5fe4c5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=var(--mainColor), endColorstr='#5fe4c5',GradientType=1 );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn:hover svg rect {
  stroke-width: 2;
  stroke-dasharray: 196, 543;
  stroke-dashoffset: 437;
}
