@import "~mdb-ui-kit/css/mdb.min.css";
:root {
  --mainColor: #5ca795;
  --mainDark: #66b9a6;
  --mainShade: rgba(255, 255, 255, 0.5);
  --mainColorObacity: rgb(14, 116, 82, 0.2);
  --secondaryColor: #71d9c1;
  --lightText: #ffff;
  --darkText: #000000;
  --headerFont: "Playfair Display", serif;
  --textFont: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.text-main{
  color: var(--mainColor);
}

body {
  margin: 0;
  font-family: var(--textFont);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("../public/Images/pattern\ \(2\).svg"); */
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
/* button:focus{
  outline: none;
} */
input:focus {
  outline: none;
}
.mybtn {
  background: none;
  border: none;
  display: block;
  min-width: 160px;
  padding: 5px 20px;
  border-radius: 25px;
  color: var(--mainColor);
  font-size: 18px;
  cursor: pointer;
}

.mybtnMainSolid {
  background-color: var(--secondaryColor);
  color: var(--darkText);
}
.mybtnLightSolid {
  background-color: var(--lightText);
  color: var(--mainColor);
}
.mybtnLightOutlined {
  border: 1px solid var(--lightText);
  background-color: var(--mainColor);
  color: var(--lightText);
}

.btnSecSolid {
  background-color: var(--secondaryColor);
  color: var(--lightText);
}

.mybtnMainOutlined {
  border: 1px solid var(--mainColor);
  color: var(--mainColor);
  background-color: var(--lightText);
}


.mybtnLightOutlined {
  border: 1px solid var(--lightText);
  background-color: transparent;
  color: var(--lightText);
} */
ul{
  list-style: none;
}
hr{
  text-align: center;
}
.h-500{
  height: 500px;
}
.ratingBox{
  width: 45px;
  height: 20px;
  background-color: rgba(128, 128, 128, 0.201);
  padding: 5px;
  border-radius: 15%;
  font-size: 10px;
}
.fs-12{
  font-size: 12px ;
}
/* *{
border:1px solid red
} */